.article-view {
    border: 1px solid #FFE4F5;

    .header-container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 15px;

        @media(max-width: 991px) {
            width: 100%;
            padding: 0px;
        }

        .main-nav {
            .navbar {
                padding: 0;

                a.navbar-brand {
                    color: #c94f9b;
                    font-size: 31px;
                    font-weight: 700;
                    padding: 0;

                    @media(max-width: 991px) {
                        padding-left: 15px;
                    }
                }

                .navbar-toggler {
                    border-color: transparent;

                    @media(max-width: 991px) {
                        padding-right: 15px;
                    }

                    &:focus {
                        outline: none;
                    }

                    .close {
                        display: none;
                    }
                }

                .collapse.navbar-collapse,
                .collapsing {
                    .navbar-nav {
                        @media(max-width: 991px) {
                            height: 100vh;
                        }

                        li {
                            // padding: 20px;

                            // &:focus {
                            //     background: #FFF9FD;
                            //     color: #C94F9A;
                            //     border: 1px solid #FFE4F5;
                            // }
                            position: relative;

                            &::after {
                                content: "";
                                border-right: 1px solid #ffe4f5;
                                position: absolute;
                                width: 1px;
                                height: 40%;
                                right: 0;
                                top: 30%;

                                @media (max-width: 767px) {
                                    border-right: 1px solid transparent;
                                }
                            }

                            &:last-child::after {
                                border-right: none;
                            }

                            &:first-child::after {
                                border-right: none;
                            }

                            a {
                                padding: 30px;
                                font-size: 21px;
                                border: 1px solid transparent;
                                transition: all 0.5s ease;
                                font-weight: 500;
                                color: #2f2a46;
                                // border-right: 1px solid #FFE4F5;
                                // position: relative;

                                // &::before {
                                //     content: "";
                                //     border-right: 1px solid #FFE4F5;
                                //     width: 100%;
                                //     height: 40%;
                                //     position: absolute;
                                //     left: 0;
                                // }
                                @media (max-width: 991px) {
                                    text-align: center;
                                }

                                &:hover {
                                    color: #c94f9a;
                                }
                            }

                            .active {
                                background: #fff9fd;
                                color: #c94f9a;
                                border-right: 1px solid #ffe4f5;
                                border-left: 1px solid #ffe4f5;

                                @media (max-width: 767px) {
                                    border-right: 1px solid transparent;
                                    border-left: 1px solid transparent;
                                    border-top: 1px solid #ffe4f5;
                                    border-bottom: 1px solid #ffe4f5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.article-views-detail {
    margin-top: 50px;
    margin-bottom: 100px;

    .container {
        // Single Article Views

        .row {
            .col-md-8 {
                .aticle-views-detail-left {
                    img {
                        width: 100%;
                    }

                    .title {
                        color: #2F2A46;
                        font-size: 32px;
                        font-weight: 700;
                        margin-top: 30px;

                        @media(max-width: 767px) {
                            font-size: 18px;
                            margin-top: 15px;
                        }

                        @media(max-width: 600px) {
                            font-size: 16px;
                        }
                    }

                    .time-and-date {
                        display: flex;
                        flex-direction: row;
                        color: #94A6C7;
                        font-size: 14px;
                        margin-bottom: 30px;

                        @media(max-width: 767px) {
                            margin-bottom: 15px;
                        }

                        .time {
                            margin-right: 50px;

                            i {
                                margin-right: 7px;
                            }
                        }

                        .date {
                            i {
                                margin-right: 7px;
                            }
                        }
                    }

                    p {
                        font-size: 19px;
                        color: #2F2A46;
                        font-weight: 400;
                        line-height: 30px;

                        @media(max-width: 1440px) {
                            font-size: 18px;
                        }

                        @media(max-width: 1199px) {
                            font-size: 16px;
                        }

                        @media(max-width: 575px) {
                            font-size: 14px;
                        }
                    }

                    h3 {

                        font-size: 26px;
                        font-weight: 700;
                        color: #2F2A46;

                        @media(max-width: 767px) {
                            font-size: 18px;
                        }

                        @media(max-width: 600px) {
                            font-size: 15px;
                        }
                    }
                }
            }

            .col-md-4 {
                .aticle-views-detail-right {
                    nav {
                        .nav-tabs {
                            border-bottom: 1px solid transparent;

                            .nav-link {
                                font-size: 16px;
                                color: #2F2A46;
                                font-weight: 500;
                                width: 50%;
                                text-align: center;
                                padding: 20px 30px;

                                &:hover {
                                    border-color: #FFE4F5;
                                }
                            }

                            .active {
                                background-color: #FFF9FD;
                                border: 1px solid #FFE4F5;
                                color: #C94F9B;
                            }
                        }
                    }

                    .tab-content {
                        background-color: #FFF9FD;
                        border: 1px solid #FFF1FB;
                        padding: 20px;

                        @media(max-width: 991px) {
                            padding: 5px;
                        }

                        .tab-pane {
                            .recent-tab {
                                display: grid;
                                grid-template-columns: 1fr 3fr;
                                grid-column-gap: 15px;
                                margin: 20px 0px 30px;

                                .recent-img {
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .recent-title {
                                    a {
                                        font-size: 18px;
                                        color: #2F2A46;
                                        font-weight: 500;

                                        @media(max-width: 991px) {
                                            font-size: 14px;
                                        }

                                        @media(max-width: 767px) {
                                            font-size: 16px;
                                        }
                                    }
                                }

                                .time {
                                    font-size: 14px;
                                    color: #94A6C7;

                                    @media(max-width: 991px) {
                                        font-size: 12px;
                                    }

                                    @media(max-width: 767px) {
                                        font-size: 14px;
                                    }

                                    i {
                                        margin-right: 7px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        // Single Article Views

        // Related Posts

        // margin-top: 50px;
        .related {
            margin-top: 50px;

            .col-md-8 {
                h2 {
                    font-size: 32px;
                    font-weight: 700;
                    color: #2F2A46;
                    margin-bottom: 40px;
                }

                .related-posts {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 40px;

                    @media(max-width: 991px) {
                        grid-column-gap: 15px;
                    }

                    @media(max-width: 767px) {
                        display: unset;
                    }



                    .posts {
                        @media(max-width: 767px) {
                            margin-bottom: 40px;
                        }

                        img {
                            width: 100%;
                            margin-bottom: 15px;

                        }

                        a {
                            font-size: 16px;
                            color: #2F2A46;
                            font-weight: 700;

                            @media(max-width: 1199px) {
                                font-size: 13px;
                            }

                            @media(max-width: 767px) {
                                font-size: 16px;
                            }
                        }

                        .time-and-date {
                            color: #94A6C7;
                            font-size: 13px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-top: 5px;

                            @media(max-width: 1199px) {
                                font-size: 11px;
                            }

                            @media(max-width: 991px) {
                                font-size: 8px;
                            }

                            @media(max-width: 767px) {
                                font-size: 14px;
                            }

                            .time {
                                i {
                                    margin-right: 7px;
                                }
                            }

                            .date {
                                i {
                                    margin-right: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }


        // Related Posts

    }
}